.pc-text-base {
    font-family: var(--font-primary);
    color: var(--text-default);
    margin: 0;
}

.pc-text-selectable {
    user-select: text;
}

.pc-text-line-clamp-1 {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pc-text-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pc-text-tabular-numbers {
    font-variant-numeric: tabular-nums;
}
