.pc-card-base {
    background: var(--card-primary-bg);
    border-radius: var(--radius-sm, 8px)
}

.pc-card-normal {
    border: 1px solid var(--border-subtle);
}

.pc-card-warning {
    border: 1px solid var(--info-warning-foreground);
}

.pc-card-danger {
    border: 1px solid var(--info-danger-foreground);
}

.pc-card-defaultPadding {
    padding: 1em;
}