.pc-card-base {
    background: var(--card-background-default, var(--card-primary-bg));
    border-radius: var(--radius-sm, 8px)
}

.pc-card-normal {
    border: 1px solid var(--border-subtle);
}

.pc-card-warning {
    border: 1px solid var(--icon-status-idle, var(--info-warning-foreground));
}

.pc-card-danger {
    border: 1px solid var(--icon-status-dnd, var(--info-danger-foreground));
}

.pc-card-defaultPadding {
    padding: 1em;
}