.pc-card-base {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--radius-sm);
    position: relative;
}

.pc-card-primary {
    background-color: var(--card-background-default);
    border-color: var(--border-subtle);
    color: var(--text-default);
}

.pc-card-danger {
    background-color: var(--background-feedback-critical);
    border-color: var(--background-feedback-critical);
    color: var(--text-feedback-critical);
}

.pc-card-warning {
    background-color: var(--background-feedback-warning);
    border-color: var(--background-feedback-warning);
    color: var(--text-feedback-warning);
}

.pc-card-success {
    background-color: var(--background-feedback-positive);
    border-color: var(--background-feedback-positive);
    color: var(--text-feedback-positive);
}

.pc-card-brand {
    background-color: var(--brand-500);
    border-color: var(--brand-500);
}

.pc-card-outline {
    background-color: transparent;
}

.pc-card-base a {
    color: var(--text-link);
}

.pc-card-danger a,
.pc-card-warning a,
.pc-card-success a,
.pc-card-brand a {
    color: var(--white);
    font-weight: var(--font-weight-bold);
}

.pc-card-base a:hover {
    text-decoration: underline;
}

.pc-card-defaultPadding {
    padding: 1em;
}
