.pc-h1,
.pc-h2,
.pc-h3,
.pc-h4,
.pc-h5 {
    color: var(--text-strong);
    font-family: var(--font-display);
}

.pc-h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.pc-h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.pc-h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.pc-h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.pc-h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.pc-h1-defaultMargin,
.pc-h2-defaultMargin {
    margin-bottom: 20px
}

/* This is copied from Discord, don't ask me why 0 margin */
.pc-h4-defaultMargin {
    margin-bottom: 0;
    margin-top: 0;
}

.pc-h3-defaultMargin,
.pc-h5-defaultMargin {
    margin-bottom: 8px
}
