.pc-link {
    color: var(--text-link);
    text-decoration: var(--link-decoration);
}

.pc-link-underline-on-hover:hover {
    text-decoration: underline;
}

.pc-link-disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Forced colors mode (high contrast accessibility) */
.enable-forced-colors .pc-link,
.enable-forced-colors .pc-link-underline-on-hover {
    background-color: canvas;
    text-decoration: underline;
    color: linktext !important;
}

.enable-forced-colors .pc-link svg,
.enable-forced-colors .pc-link-underline-on-hover svg {
    color: currentcolor;
}

.enable-forced-colors .pc-link:not([href]),
.enable-forced-colors .pc-link-underline-on-hover:not([href]) {
    background-color: buttonface;
    color: buttontext !important;
}
