.pc-invite-button,
.pc-donate-button {
    overflow: visible !important;
    color: black;
    background-color: color-mix(in srgb, #ED87A9 25%, pink);
}

.pc-invite-button:hover,
.pc-donate-button:hover {
    overflow: visible !important;
    color: black;
    background-color: color-mix(in srgb, #ED87A9 50%, pink);
}

.pc-invite-support-button,
.pc-donate-support-button {
    overflow: visible !important;
    color: black;
    background-color: color-mix(in srgb, #c3a3ce 25%, rgb(240 178 240));
}

.pc-invite-support-button:hover,
.pc-donate-support-button:hover {
    overflow: visible !important;
    color: black;
    background-color: color-mix(in srgb, #c3a3ce 50%, rgb(240 178 240));
}

.pc-invite-link {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    flex-shrink: 0;
}

.pc-contrib-button {
    overflow: visible !important;
    margin-top: 1em;
    color: black;
    background-color: color-mix(in srgb, #EDCC87 60%, lightyellow);
}

.pc-contrib-button:hover {
    color: black;
    background-color: color-mix(in srgb, #EDCC87 75%, lightyellow);
}

.pc-contrib-github {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.pc-invite-button .pc-invite-link,
.pc-contrib-button .pc-contrib-github,
.pc-donate-button .pc-heart-icon,
.pc-invite-support-button .pc-invite-link,
.pc-donate-support-button .pc-heart-icon {
    transition: transform 0.3s;
    margin-right: 0.5em;
}

.pc-invite-button:hover .pc-invite-link,
.pc-contrib-button:hover .pc-contrib-github,
.pc-donate-button:hover .pc-heart-icon,
.pc-invite-support-button:hover .pc-invite-link,
.pc-donate-support-button:hover .pc-heart-icon {
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}

.pc-special-card-special {
    padding: 1em 1.5em;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
}

.pc-special-card-flex {
    display: flex;
    flex-direction: row;
}

.pc-special-card-flex-main {
    width: 100%;
}

.pc-special-title {
    color: black;
}

.pc-special-subtitle {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.5em;
}

.pc-special-text {
    color: black;
    font-size: 1em;
    margin-top: .75em;
    white-space: pre-line;
}

.pc-special-seperator {
    margin-top: .75em;
    border-top: 1px solid white;
    opacity: 0.4;
}

.pc-special-hyperlink {
    margin-top: 1em;
    cursor: pointer;
}

.pc-special-hyperlink-text {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition: text-decoration 0.5s;
    cursor: pointer;
}

.pc-special-hyperlink:hover .pc-special-hyperlink-text {
    text-decoration: underline;
}

.pc-special-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pc-special-image {
    width: 65%;
}